/* Documentation is here: */
/* https://docs.obsidian.md/Reference/CSS+variables/CSS+variables */

.theme-dark {
	/* Unofficial variables used in the theme */
	--interfator-color-aqua-bright: #5cffde;
	--interfator-color-aqua-bright-rgb: 92, 255, 222;
	--interfator-color-aqua-dim: #00ffcc;
	--interfator-color-contrast-accent: #F6F5AE;
	--interfator-color-contrast-accent-rgb: 246, 245, 174;
	--interfator-color-contrast-accent-2: #E39774;
	--interfator-color-contrast-accent-2-rgb: 227, 151, 116;

	/* Some of these colors are too light. Need to work on them. */
	/* https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors#Base+colors */
	--color-base-00: #191a1b;
	--color-base-05: #002b36;
	--color-base-10: #203337;
	--color-base-20: #164145;
	--color-base-25: #1d5c62;
	--color-base-30: #2a6164;
	--color-base-35: #3a7075;
	--color-base-40: #3a7075;
	--color-base-50: #4a8b8d;
	--color-base-60: #5aa6a8;
	--color-base-70: #75cace;
	--color-base-70-rgb: 117, 202, 206;

	/* Used by main text (--text-normal) */
	--color-base-100: #a4dcdf;
	--color-base-100-rgb: 164, 220, 223;

	/* Backgrounds */
	--background-primary: var(--color-base-00);
	--background-secondary: var(--color-base-05);

	/* Borders in the interface */
	--background-modifier-border: var(--color-base-30);

	/* Text colors */
	--text-muted: rgba(var(--color-base-100-rgb), 0.8);
	--text-accent: var(--interfator-color-aqua-bright);
	--text-accent-hover: var(--interfator-color-aqua-bright);
	--text-selection: var(--color-base-30);

	--italic-color: var(--interfator-color-contrast-accent);
	--bold-color: var(--interfator-color-contrast-accent-2);

	--interfator-text-shadow: 0 0 2px rgba(var(--interfator-color-aqua-bright-rgb), 0.7);
	--interfator-text-shadow-hover: 0 0 10px var(--interactive-accent-hover);
	--interfator-grid-spacing-x: 17px;
	--interfator-grid-spacing-y: 30px;

	/* Headers */
	--h1-size: 2.6em;
	--h2-size: 2.0em;

	--h1-color: var(--text-accent);
	--h2-color: var(--interfator-color-contrast-accent);
	--h3-color: var(--interfator-color-contrast-accent-2);

	/* Code */
	--code-normal: rgb(var(--interfator-color-aqua-bright-rgb), 1.0);
	--code-size: 1em;

	/* A bit more space between lines */
	--line-height-normal: 1.6;

	/* TODO 👇 */


	/* Buttons and borders */
	--interactive-accent: var(--color-base-60);
	--interactive-accent-hover: #00e6b8;
	/* On hover */

	/* Scrollbar */
	--scrollbar-thumb: #004d5e;
	--scrollbar-thumb-hover: #006f7f;

	/* Popovers and modals */
	--popover-background: #003540;
	--popover-shadow: 0 0 10px rgba(0, 255, 204, 0.5);

	/* Grid and terminals */
	--grid-line-color: rgba(8, 255, 200, 0.05);
	/* Light grid lines */

	/* Defaults to --color-base-25 */
	--background-modifier-form-field: var(--color-base-10);
}

/* Neon effects for interactive elements */
button,
a {
	text-shadow: var(--interfator-text-shadow);
}

button:hover,
a:hover {
	text-shadow: var(--interfator-text-shadow-hover);
}

pre {
	border: 1px solid var(--color-base-70);
	box-shadow: 0 0 6px var(--color-base-100);
}

/* Customizations */
.workspace-split {
	border-color: var(--background-modifier-border);
}

/* Add grid overlay */
.workspace-leaf-content .view-content {
	background:
		/* Grid layer */
		linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
		linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px) !important;

	/* Grid spacing for horizontal and vertical lines */
	background-size: var(--interfator-grid-spacing-x) var(--interfator-grid-spacing-y) !important;
}
